POSTGRES_DB=finbank
POSTGRES_USER=finbank
POSTGRES_PASSWORD=finbank
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_PORT=9092
KAFKA_ADVERTISED_HOST=localhost
KAFKA_UI_PORT=8099
